Question 1:
Identify the sentence that is being repeated in a document.

In [1]:
document = """
She made an attempt to straighten her tawny hair. Her voice quavered with emotion. “You must be a very lonely man, Judge Seagrave.” the sentence is present in the doc that is repeating. How is it?  Then she turned a gaze on him that might have ignited a rain-sodden haystack. “And I’m a lonely woman.”

It might be merely descriptive: Lines of weeds criss-crossed the cracked parking lot of the Seashell Motor Courts. The flaking paint on the buildings had chalked to a pastel pink on walls covered with graffiti. Many of the windows had been smashed out. How is it? Where the sign had been, atop rusting steel posts, only the metal outline of a seashell remained.

It might have action but no dialogue: It was Ms. Fitzhugh. She was walking fast. A strange expression crossed the faces of the students as they glanced toward the door and saw the principal go straight into the boys’ restroom. the sentence is present in the doc that is repeating. The footsteps stopped. There was a deep, throaty sound difficult to describe. Then came an eruption of shrill screaming and a rapid sound of heels. Moments later, Ms. Fitzhugh emerged, her eyes wild. Screaming, she skidded in the hall and headed toward the office.

It might be expository: Above ground was the medieval settlement of Skaar’s Outpost, originally a fort to guard the cave entrance. Its inception as a town had been in the lodging and supply needs of explorers there to attempt the subterranean labyrinth when it had opened as a commercial venture. How is it? With the caverns’ flooding and subsequent closure, however, Skaar’s Outpost had declined into an agricultural community miles from any trade routes.
"""

In [7]:
import nltk
from nltk.tokenize import sent_tokenize
nltk.download('punkt_tab')
nltk.download('punkt')

[nltk_data] Downloading package punkt_tab to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt_tab.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [8]:
sentences = sent_tokenize(document)

In [9]:
repeated_sentences = {}
for sentence in sentences:
    sentence = sentence.strip()
    if sentence in repeated_sentences:
        repeated_sentences[sentence] += 1
    else:
        repeated_sentences[sentence] = 1

In [10]:
repeated_more_than_once = {sentence: count for sentence, count in repeated_sentences.items() if count > 1}
print(repeated_more_than_once)

{'How is it?': 3}

**Document has 5 tablee. In that 2 tables columns are similar semantically ie., profit and gain and gain and loss. figuring out that 2 tables that are matching semantically**

In [11]:
import pandas as pd
table1 = pd.DataFrame({'Profit': [1000, 800],'Sales': [10000, 8000]})
table2 = pd.DataFrame({'Loss': [500, 300],'Deprivation': [200, 100]})
table3 = pd.DataFrame({'Gain': [500, 300],'Revenue_from_sales': [2000, 1500]})
table4 = pd.DataFrame({'Name': ['sush', 'san'],'Email': ['sush@example.com', 'san@example.com']})
table5 = pd.DataFrame({'Networth': ['32.3M', '425.M'],'Policy': ['avks', 'dkfn']})
print("Table 1")
print(table1)
print("\nTable 2")
print(table2)
print("\nTable 3")
print(table3)
print("\nTable 4")
print(table4)
print("\nTable 5")
print(table5)
tables = [table1, table2, table3, table4, table5]

Table 1
   Profit  Sales
0    1000  10000
1     800   8000

Table 2
   Loss  Deprivation
0   500          200
1   300          100

Table 3
   Gain  Revenue_from_sales
0   500                2000
1   300                1500

Table 4
   Name             Email
0  sush  sush@example.com
1   san   san@example.com

Table 5
  Networth Policy
0    32.3M   avks
1    425.M   dkfn

In [12]:
from gensim.models import Word2Vec
column_names = [col for table in tables for col in table.columns]
print(column_names)
sentences = []
for col1 in column_names:
    for col2 in column_names:
        sentences.append([col1.lower(), col2.lower()])
print(sentences)

['Profit', 'Sales', 'Loss', 'Deprivation', 'Gain', 'Revenue_from_sales', 'Name', 'Email', 'Networth', 'Policy']
[['profit', 'profit'], ['profit', 'sales'], ['profit', 'loss'], ['profit', 'deprivation'], ['profit', 'gain'], ['profit', 'revenue_from_sales'], ['profit', 'name'], ['profit', 'email'], ['profit', 'networth'], ['profit', 'policy'], ['sales', 'profit'], ['sales', 'sales'], ['sales', 'loss'], ['sales', 'deprivation'], ['sales', 'gain'], ['sales', 'revenue_from_sales'], ['sales', 'name'], ['sales', 'email'], ['sales', 'networth'], ['sales', 'policy'], ['loss', 'profit'], ['loss', 'sales'], ['loss', 'loss'], ['loss', 'deprivation'], ['loss', 'gain'], ['loss', 'revenue_from_sales'], ['loss', 'name'], ['loss', 'email'], ['loss', 'networth'], ['loss', 'policy'], ['deprivation', 'profit'], ['deprivation', 'sales'], ['deprivation', 'loss'], ['deprivation', 'deprivation'], ['deprivation', 'gain'], ['deprivation', 'revenue_from_sales'], ['deprivation', 'name'], ['deprivation', 'email'], ['deprivation', 'networth'], ['deprivation', 'policy'], ['gain', 'profit'], ['gain', 'sales'], ['gain', 'loss'], ['gain', 'deprivation'], ['gain', 'gain'], ['gain', 'revenue_from_sales'], ['gain', 'name'], ['gain', 'email'], ['gain', 'networth'], ['gain', 'policy'], ['revenue_from_sales', 'profit'], ['revenue_from_sales', 'sales'], ['revenue_from_sales', 'loss'], ['revenue_from_sales', 'deprivation'], ['revenue_from_sales', 'gain'], ['revenue_from_sales', 'revenue_from_sales'], ['revenue_from_sales', 'name'], ['revenue_from_sales', 'email'], ['revenue_from_sales', 'networth'], ['revenue_from_sales', 'policy'], ['name', 'profit'], ['name', 'sales'], ['name', 'loss'], ['name', 'deprivation'], ['name', 'gain'], ['name', 'revenue_from_sales'], ['name', 'name'], ['name', 'email'], ['name', 'networth'], ['name', 'policy'], ['email', 'profit'], ['email', 'sales'], ['email', 'loss'], ['email', 'deprivation'], ['email', 'gain'], ['email', 'revenue_from_sales'], ['email', 'name'], ['email', 'email'], ['email', 'networth'], ['email', 'policy'], ['networth', 'profit'], ['networth', 'sales'], ['networth', 'loss'], ['networth', 'deprivation'], ['networth', 'gain'], ['networth', 'revenue_from_sales'], ['networth', 'name'], ['networth', 'email'], ['networth', 'networth'], ['networth', 'policy'], ['policy', 'profit'], ['policy', 'sales'], ['policy', 'loss'], ['policy', 'deprivation'], ['policy', 'gain'], ['policy', 'revenue_from_sales'], ['policy', 'name'], ['policy', 'email'], ['policy', 'networth'], ['policy', 'policy']]

In [13]:
model = Word2Vec(sentences, vector_size=5, window=3, min_count=1)
similar_columns = {}
for col1 in column_names:
    for col2 in column_names:
        if col1 != col2:
            try:
                similarity = model.wv.similarity(col1.lower(), col2.lower())
                if similarity > 0.5:
                    similar_columns[(col1, col2)] = similarity
            except KeyError:
                pass
for (col1, col2), similarity in similar_columns.items():
    print(f"Similar columns: {col1} and {col2} (similarity: {similarity:.2f})")

Similar columns: Sales and Loss (similarity: 0.67)
Similar columns: Loss and Sales (similarity: 0.67)
Similar columns: Deprivation and Gain (similarity: 0.93)
Similar columns: Deprivation and Name (similarity: 0.55)
Similar columns: Deprivation and Networth (similarity: 0.85)
Similar columns: Gain and Deprivation (similarity: 0.93)
Similar columns: Gain and Name (similarity: 0.77)
Similar columns: Gain and Networth (similarity: 0.77)
Similar columns: Name and Deprivation (similarity: 0.55)
Similar columns: Name and Gain (similarity: 0.77)
Similar columns: Name and Networth (similarity: 0.62)
Similar columns: Networth and Deprivation (similarity: 0.85)
Similar columns: Networth and Gain (similarity: 0.77)
Similar columns: Networth and Name (similarity: 0.62)

In [14]:
model = Word2Vec([column_names], vector_size=5, window=3, min_count=1)
similarities = []
def average_similarity(table1, table2):
    similarities = []
    for col1 in table1.columns:
        for col2 in table2.columns:
            try:
                similarity = model.wv.similarity(col1.lower(), col2.lower())
                similarities.append(similarity)
                print(f"Similarity between '{col1}' and '{col2}': {similarity:.2f}")  # Debug output
            except KeyError:
                continue
    return sum(similarities) / len(similarities) if similarities else 0

In [15]:
threshold = 0.9
pair_similar_table = []
for i in range(len(tables)):
    for j in range(i + 1, len(tables)):
        similarity = average_similarity(tables[i], tables[j])
        print(f"Average similarity between Table {i} and Table {j}: {similarity:.2f}")
        if similarity > threshold:
            pair_similar_table.append((i, j, similarity))

Average similarity between Table 0 and Table 1: 0.00
Average similarity between Table 0 and Table 2: 0.00
Average similarity between Table 0 and Table 3: 0.00
Average similarity between Table 0 and Table 4: 0.00
Average similarity between Table 1 and Table 2: 0.00
Average similarity between Table 1 and Table 3: 0.00
Average similarity between Table 1 and Table 4: 0.00
Average similarity between Table 2 and Table 3: 0.00
Average similarity between Table 2 and Table 4: 0.00
Average similarity between Table 3 and Table 4: 0.00

In [16]:
if pair_similar_table:
    for i, j, similarity in pair_similar_table:
        print(f"Tables {i} and {j} are similar (similarity: {similarity:.2f})")
        print(f"Table {i} columns: {tables[i].columns}")
        print(f"Table {j} columns: {tables[j].columns}")
else:
    print("No table pairs are similar with above the threshold.")

No table pairs are similar with above the threshold.